@using System.Collections.Generic

<div>
  <div class="flex flex-row justify-between w-full transition-all duration-200">
    <button class="grow px-4 py-1 text-nowrap overflow-scroll block text-start hover:bg-gray-500 hover:text-white rounded-lg"
      @onclick="Toggle">
      <span class="text-2xl">@Item.GetIcon()</span>
      <span>@Item.GetName()</span>
    </button>

    <button class="block px-4 text-xl hover:bg-gray-500 hover:text-white rounded-md" @onclick="DeleteFile">
      󰆴
    </button>
  </div>

  @if (isExpanded && Item.IsDirectory())
  {
    <div class="ml-6 border-l border-gray-600 pl-2">
      @foreach (var child in Item.GetChildren(orderMethod))
      {
        <FileNode Item="@child" />
      }
    </div>
  }
</div>

@code {
  [Parameter]
  public FileSystem Item { get; set; } = default!;

  [Parameter]
  public int orderMethod { get; set; } = default!;

  [Parameter]
  public EventCallback OnDelete { get; set; }

  [Parameter]
  public EventCallback<FileSystem> OnClick { get; set; }

  private bool isExpanded = false;

  void Toggle()
  {
    if (!Item.IsDirectory()) {
      onClick().GetAwaiter().OnCompleted(() => { return; });
      return;
    }

    isExpanded = !isExpanded;

    if (isExpanded)
      Item.SetIcon("");
    else
      Item.SetIcon("");
  }

  async Task DeleteFile()
  {
    File.Delete(Item.GetFullPath());
    await OnDelete.InvokeAsync();
  }

  async Task onClick()
  {
    await OnClick.InvokeAsync(Item);
  }
}
