@inherits LayoutComponentBase;

<div class="flex flex-row h-screen w-screen">
  <div class="w-15 h-screen navbar">
    <NavMenu />
  </div>

  <main class="flex flex-col ">
    <div class="p-1 bg-black text-white  border-b border-b-gray-700">
      <button class="text-4xl px-4 py-2 hover:bg-gray-400 hover:text-white rounded-lg transition-all duration-200"></button> QD
    </div>
    @Body
  </main>
</div>

<style>
  main {
    width: calc(100vw - 60px);
  }

  .navbar {
    background-color: var(--color-black);
    color: var(--color-white);
  }
</style>
