@page "/files"
@rendermode InteractiveServer
@using QD_Knowlage_Manager.Components.Components;

<div class="grow flex flex-row overflow-auto">
  <div class="w-80 max-h-[100vh - 58px] overflow-hidden border-r border-r-gray-700 py-2">
    <div>
      <input class="border border-gray-500 p-4 rounded-2xl" @bind="CurrentPath" type="text"
        placeholder="path/to/file" />
      <button class="p-4 bg-white text-black hover:bg-gray-400 hover:text-white rounded-2xl transition-all duration-200"
        @onclick="ListDir">read</button>

      <div class="flex flex-row justify-between items-center p-1 my-3 border-y border-y-gray-700">
        <p class="w-40 overflow-clip text-nowrap">
          @CurrentDirectoryName
        </p>

        <button class="py-3 px-4 hover:bg-gray-400 hover:text-white rounded-2xl transition-all duration-200"
          @onclick="@Reorder">
          @OrderMethodIcon[(int)orderMethod]
        </button>
      </div>
    </div>

    <!-- <button role="status" -->
    <!--   class="p-4 bg-white text-black hover:bg-gray-400 hover:text-white rounded-2xl transition-all duration-200" -->
    <!--   @onclick="ShowHidden">ShowHidden @showHidden</button> -->
    <div class="px-4 pb-60 h-screen overflow-auto">
      @foreach (var file in Entity)
      {
        <FileNode Item="@file" orderMethod="(int)orderMethod" />
      }
      @if (!isExist)
      {
        <p>Directory is not Exist.</p>
      }
    </div>

  </div>
  <div>
    <textarea @bind="CurrentBuffer" />
  </div>
</div>

@code {
  static List<FileSystem> Entity = new();
  static string CurrentPath = "/home/abu_jandal";
  private string CurrentBuffer = "";

  static string? CurrentDirectoryName = CurrentPath != null ?
  Path.GetFileName(CurrentPath.TrimEnd(Path.DirectorySeparatorChar)) : "null";

  private HashSet<string> expandedDirs = new();

  private bool isExist = true;
  private bool showHidden = false;

  private char[] OrderMethodIcon = ['', ''];
  public enum OrderMethod
  {
    ASD,
    DES,
  };
  private OrderMethod orderMethod = OrderMethod.DES;

  private void ShowHidden()
  {
    showHidden = showHidden == true ? false : true;
  }

  private void ShowSubDir(FileSystem File)
  {
    if (!File.IsDirectory())
      return;

    if (!expandedDirs.Add(File.GetFullPath()))
      expandedDirs.Remove(File.GetFullPath());
  }

  private void Reorder()
  {
    orderMethod = orderMethod == OrderMethod.ASD ? OrderMethod.DES : OrderMethod.ASD;

    if (orderMethod == OrderMethod.ASD)
    {
      Entity = Entity
      .OrderByDescending(f => f.IsDirectory())
      .ThenByDescending(f => f.GetName(), StringComparer.OrdinalIgnoreCase)
      .ToList();
    }
    else
    {
      Entity = Entity
      .OrderByDescending(f => f.IsDirectory())
      .ThenBy(f => f.GetName(), StringComparer.OrdinalIgnoreCase)
      .ToList();
    }
  }

  private void ListDir()
  {
    Entity.Clear();

    try
    {
      foreach (var item in Directory.GetFileSystemEntries(CurrentPath))
      {
        Entity.Add(new FileSystem(item));
      }
      isExist = Directory.Exists(CurrentPath);
    }
    catch
    {
      isExist = Directory.Exists(CurrentPath);
    }

    Entity = Entity
    .OrderByDescending(f => f.IsDirectory())
    .ThenBy(f => f.GetName(), StringComparer.OrdinalIgnoreCase)
    .ToList();

    CurrentDirectoryName = CurrentPath != null ? Path.GetFileName(CurrentPath.TrimEnd(Path.DirectorySeparatorChar)) :
    "null";
  }
}
