@page "/";

@inject LinuxDirectoryPicker Picker;
@inject AppState State;
@inject NavigationManager nv;
@implements IDisposable

@rendermode InteractiveServer

<PageTitle>QD Knowlage Manager</PageTitle>

<div class="grow absolute top-0 left-0 h-screen w-screen bg-black text-white flex gap-4 justify-center items-center">

  <div class="w-150 h-180 flex flex-col gap-20 justify-center items-center bg-gray-950 rounded-md">
    <div class="flex flex-col gap-4 justify-center items-center">
      <img class="w-40" src="@Assets["favicon.png"]" />

      <h1 class="text-3xl italic">
        Knowlage Manager
      </h1>
    </div>

    <div class="flex flex-row gap-2">
      <input class="block w-80 border text-gray-500 border-gray-500 px-4 py-2 rounded-md" @bind="State.CurrentDirectory"
        type="text" placeholder="path/to/file" disabled />

      <button
        class="px-4 py-2 bg-white text-black hover:bg-gray-400 hover:text-white rounded-md transition-all duration-200"
        @onclick="Pick">
        Open Volume
      </button>
    </div>
  </div>
</div>

@code {
  protected override void OnInitialized()
  {
    setDefaultPath();
  }

  async void setDefaultPath()
  {
    State.SetDirectory(await Picker.DefaultPathAsync());
    await Task.Yield();
    State.OnChange += StateHasChanged;
  }

  async Task Pick()
  {
    var oldPath = State.CurrentDirectory;

    State.SetDirectory(await Picker.PickAsync());

    if (State.CurrentDirectory != null)
      nv.NavigateTo("/editor");

    else if (State.CurrentDirectory == null)
      State.SetDirectory(oldPath);
  }

  public void Dispose()
  {
    State.OnChange -= StateHasChanged;
  }
}
